<a href="https://colab.research.google.com/github/Mayuri-thatikonda/Used-bikes/blob/main/Used_Bikes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('Used_Bikes.csv')

In [3]:
dataset.head()

                              bike_name       city  ...  power   price
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  ...    110   35000
1           Royal Enfield Classic 350cc      Delhi  ...    350  119900
2                  Triumph Daytona 675R      Delhi  ...    675  600000
3                  TVS Apache RTR 180cc  Bangalore  ...    180   65000
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  ...    150   80000

[5 rows x 7 columns]

In [4]:
dataset['bike_name'].nunique()

471

In [5]:
dataset['city'].nunique()

443

In [6]:
dataset['owner'].nunique()

4

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset = dataset[['city', 'owner', 'bike_name']].apply(le.fit_transform)
print(dataset)

       city  owner  bike_name
0         6      0        401
1       118      0        295
2       118      0        411
3        44      0        375
4        44      0        426
...     ...    ...        ...
32643   118      0        151
32644   224      0        375
32645   118      0         15
32646   191      0        176
32647   330      0         56

[32648 rows x 3 columns]

In [8]:
dataset['owner'].unique()

array([0, 2, 3, 1])

In [9]:
dataset['city'].unique()

array([  6, 118,  44, 282, 218, 140, 273, 185, 217, 167, 330, 308, 300,
       240,  14, 359, 289, 257, 191, 224, 163, 431, 182,  36,  54,   5,
       128, 423, 194, 395, 100, 301, 149, 436, 404, 243, 137,  50, 156,
        74,  21,  73, 172, 248,  30, 321, 346, 262, 258, 264, 379,  32,
       220,  69, 271, 352,   7, 439,  96, 345, 318, 399, 189, 246, 353,
       341, 427,   0,  45, 292,  46, 314, 101, 230, 274, 355, 109, 193,
       287,   3,  81, 260, 198, 342, 420, 160, 242, 366, 386, 111,  72,
       245, 307, 259, 417, 311, 409, 316, 297, 206, 390, 333, 180, 161,
       155, 135, 315,  98, 183, 209, 184, 317,  63, 430,  17, 168, 154,
       340, 406,  58,  40, 202,  31,  82, 401, 337, 263,  55,  85,  12,
        43, 351, 281,  49, 170, 403, 188,  90,  94, 174,  64, 284, 322,
       381, 382,  51, 320, 237, 378, 205, 354, 357, 388, 169,  11, 231,
       239, 424, 367, 179, 166, 112,  20, 134, 272, 254, 110, 192, 173,
       133, 391, 268, 106,  65, 376, 233, 117,  22, 360,  27, 332, 410,
        38, 413, 211, 370, 326, 383, 159,   8, 276, 338, 302, 175, 200,
       344,  61, 432, 283,  97, 201, 421, 294, 419,  93, 186, 374,  29,
        77, 356, 119, 219, 426, 270, 227, 123, 113, 148, 197,  19, 265,
       120, 150, 107, 105, 204, 190, 349, 339, 165,  34,   2,  13,  67,
       280, 244, 143, 402, 414, 350, 255, 249, 152, 438, 418, 327, 290,
       177, 222, 277,  47, 434, 405, 393, 407,  78, 158, 153, 241,  39,
        56,  86, 285,   4,  91, 336, 389, 104, 228,  87,  89,  26, 267,
        35, 295, 331,  16, 396, 234, 251, 275, 362, 157, 372,  33,  99,
       221, 411, 368, 253, 125,  53, 145, 103, 223, 247, 195, 319,  52,
       358, 187, 286, 304, 196,  18, 416, 213, 131, 141, 298, 226, 365,
       433, 261, 147, 178, 269, 235, 387, 385,  62,  23, 375, 325, 334,
       364, 212, 313, 299, 312, 139, 144, 328, 136, 347,  92, 108,  37,
       207, 293, 435, 127, 114, 303, 363, 397, 440, 428,  15, 384,  79,
       250,  70,  59, 138,  28, 306, 415, 122, 425, 278, 129, 373, 208,
        80, 441,  84, 252, 392, 348, 115, 343,  57, 164,  41, 214, 291,
        25, 266, 296, 124, 102, 199, 442,   1,  48, 288, 215, 323, 394,
       305, 329, 126, 400, 256, 437, 229, 116, 408, 146, 151,  76, 429,
       324, 238, 398, 236, 210, 162,  88, 171, 132, 279, 412, 361, 225,
        66, 142, 216, 369,  95, 130, 121,   9,  10,  71, 371, 309, 232,
       422, 203, 176,  83,  75, 335,  68,  42,  24,  60, 380, 181, 310,
       377])

In [10]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [18]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

[[258.94 422.  ]
 [ 62.78   9.  ]
 [258.94 122.  ]
 ...
 [200.49  36.  ]
 [287.18 295.  ]
 [203.42 356.  ]]

0.3848311886574689